{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tutor Search</h1>
    <p>Search for a tutor by zip code, subject or name.</p>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.q, { 'attr': {'placeholder': 'Search For Tutors...'} }) }}

        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
    {{ form_end(form) }}

    {% include 'default/results.html.twig' %}
{% endblock %}
